@model Order

@{
    ViewData["Title"] = "Информация по заказу";
}

<h1>Заказ @Model.Name</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            <a>Наименование</a>
        </th>
        <th>
            <a>Цена</a>
        </th>
        <th>
            <a>Количество</a>
        </th>
        <th></th>
    </tr>
    </thead>
    @foreach (var product in Model.Products)
    {
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @{
                    var price = product.Price * product.ProductOrders!.Count;
                    @Html.DisplayFor(modelItem => price)
                }
            </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductOrders!.Count)
                </td>
            <td>
                <a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id=@product.Id>Удалить</a>
            </td>
        </tr>
        </tbody>
    }
    <tr>
        <th>
            <a>Итого: @Model.TotalPrice</a>
        </th>
        <th>
            <a>Дата заказа: @Model.OrderDate</a>
        </th>
    </tr>
</table>

<a asp-controller="Customer" asp-action="GetProfile">Вернуться к заказам</a>